h1{
    font-family: 'Caveat Brush', cursive;
    text-align: center;
    margin-top:20vh;
     text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F,
        0 0 0.2em #87F
}
a.przycisk{
        margin-left:80vh;
        margin-top:10vh;
        float: left;
        cursor: pointer;
        width: 140px;
        padding: 20px 25px;
        background-color: #a5d5ee;
        color: #14658f;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        border: 1px solid #2f7ea7;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        border-radius: 7px;
        text-shadow: 0 1px 2px rgba(255, 255, 255, 0.7), 
        0 -1px 0 rgba(64, 38, 5, 0.9);
        
        -moz-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.6), 
        inset 0 1px 2px rgba(255, 255, 255, 0.7), 
        0 5px 0 #50b0e2, 0 6px 0 #2f7ea7, 0 10px 2px #ccc;
        
        -webkit-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.6),
        inset 0 1px 2px rgba(255, 255, 255, 0.7), 
        0 5px 0 #50b0e2, 0 6px 0 #2f7ea7, 0 10px 2px #ccc;
        
        box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.6), 
        inset 0 1px 2px rgba(255, 255, 255, 0.7), 
        0 5px 0 #50b0e2, 0 6px 0 #2f7ea7, 0 10px 2px #ccc;
        
        -webkit-transition: background 0.2s ease-out;
        }  
        a.przycisk:active {
            background: #f6a000;
            position: relative;
            top: 5px;
            border: 1px solid #702d00;
            
            -moz-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.6), 
            inset 0 1px 2px rgba(255, 255, 255, 0.7), 
            0 3px 0 #b8882a, 0 4px 0 #593a11, 0 8px 0 #ccc;
            
            -webkit-box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.6), 
            inset 0 1px 2px rgba(255, 255, 255, 0.7), 
            0 3px 0 #b8882a, 0 4px 0 #593a11, 0 8px 0 #ccc;
            
            box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.6), 
            inset 0 1px 2px rgba(255, 255, 255, 0.7), 
            0 3px 0 #b8882a, 0 4px 0 #593a11, 0 8px 0 #ccc;
        }
    body{
background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d59b55c5-7533-4a67-b107-a87255347e42/d8szflq-66f63a45-1ce4-448d-af64-5a0871f4c984.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvZDU5YjU1YzUtNzUzMy00YTY3LWIxMDctYTg3MjU1MzQ3ZTQyXC9kOHN6ZmxxLTY2ZjYzYTQ1LTFjZTQtNDQ4ZC1hZjY0LTVhMDg3MWY0Yzk4NC5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.5d6zW_7GJvWWkuV63b3mDpYLYCiXwJtPcxdNqfZdPPg);
background-size: 80%;
    }

        